<!-- rendring the form in browser for register -->
<form action="/submit", method="POST">
  <input type="text" placeholder="Enter Name" name = "name">
  <input type="email" placeholder="Enter Email" name = "email">
  <input type="password" placeholder="Enter Password" name = "password">
  <input type="submit">
</form>