<!-- Rendring the login form -->
<form action="/verify" method="POST">
<input type="email" placeholder="Email" name="email">
<input type="Password" placeholder="Password" name="Password">
<input type="submit">
</form>